@model MVCGarage.Models.ViewModels.Members.ListViewModel

@{
    ViewData["Title"] = "Members";
}


<h2>Members</h2>
<hr />
<p>
    <a asp-action="Register" class="btn btn-primary mt-2 mb-2" role="button">Register</a>
</p>
<div class="row">
    <div class="col-lg-4 order-lg-last mb-4">
        <div class="accordion bg-secondary bg-opacity-10 p-2 rounded shadow">
            <h3>Search</h3>
                <form asp-action="Index">
                <div class="form-floating">
                    <input type="text" asp-for="SearchPersonalIdentityNumber" class="form-control" name="SearchPersonalIdentityNumber" />
                    <label asp-for="SearchPersonalIdentityNumber" class="form-label"></label>
                </div>
                <div class="accordion-item p-0 mt-2 border-0">
                <h5 class="accordion-header">
                    <button class="accordion-button alert-primary @if(!Model.HasExpandedSearchItem) @Html.Raw("collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="@Html.Raw(Model.HasExpandedSearchItem)" aria-controls="collapseOne">
                    More search options...
                    </button>
                </h5>
                <div id="collapseOne" class="accordion-collapse collapse @if(Model.HasExpandedSearchItem) @Html.Raw("show")" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-dark bg-primary bg-opacity-10">
                        <div class="form-floating">
                            <input type="text" asp-for="SearchName" class="form-control" name="searchName" />
                            <label asp-for="SearchName" class="form-label"></label>
                        </div>               
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-dark mt-2 mb-2" value="Search"/>
                </div>
                <div class="col text-end">
                    <a href="/Members" class="btn btn-outline-dark mt-2 mb-2" role="button">Reset Search</a>
                </div>
            </div>
            </form>
        </div>
    </div>


    <div class="col-lg-8 order-lg-first">
        <div class="container bg-light rounded shadow p-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @{ MVCGarage.Models.ViewModels.Members.IndexMemberViewModel dummyModel = null!; }
                            @Html.DisplayNameFor(dummyParam => dummyModel.BirthDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(dummyParam => dummyModel.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(dummyParam => dummyModel.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(dummyParam => dummyModel.NrOfVehicles)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MemberList) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NrOfVehicles)
                        </td>
                        <td>
                            @*<a asp-action="Modify" asp-route-id="@item.Id">Modify</a> |*@
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            @*<a asp-action="Checkout" asp-route-id="@item.Id">Checkout</a>*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>