@model ListViewModel

@{
    ViewData["Title"] = "Parked Vehicles";

    string Sort(Order order)
    {
        //return @Model.Order == order ? 
        //            @Model.Desc ? 
        //                " ↓" 
        //            : " ↑" 
        //        : "";

        if (@Model.Order == order)
        {
            if (@Model.Desc) return " ↓";
            return " ↑";
        }
        return "";
    }
}

@*<p>
    <a asp-action="Park" class="btn btn-primary mt-2 mb-2" role="button">Park Vehicle</a>
</p>*@
<h2>Parked Vehicles</h2>
<hr />

<div class="row">

    <div class="col-lg-4 order-lg-last mb-4">
        <div class="accordion bg-secondary bg-opacity-10 p-2 rounded shadow">
            <h3>Search</h3>
            <form asp-action="Index">
                <div class="form-floating">
                    <input type="text" asp-for="SearchRegistrationNumber" class="form-control" name="searchRegistrationNumber" />
                    <label asp-for="SearchRegistrationNumber" class="form-label"></label>
                </div>

            <div class="accordion-item p-0 mt-2 border-0">
                <h5 class="accordion-header">
                    <button class="accordion-button alert-primary @if(!Model.HasSearchItem) @Html.Raw("collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="@Html.Raw(Model.HasSearchItem)" aria-controls="collapseOne">
                    More search options...
                    </button>
                </h5>
                <div id="collapseOne" class="accordion-collapse collapse @if(Model.HasSearchItem) @Html.Raw("show")" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-dark bg-primary bg-opacity-10">
                        <div class="form-floating">
                            <select asp-for="SearchType" class="form-control" asp-items="@(new SelectList(Model.VehicleTypes, nameof(VehicleType.Id), nameof(VehicleType.Name)))">
                                <option>All</option>
                            </select>
                            <label asp-for="SearchType" class="control-label"></label>
                        </div>

                        <div class="form-floating">
                            <input type="text" asp-for="SearchBrand" class="form-control" name="searchBrand" />
                            <label asp-for="SearchBrand" class="form-label"></label>
                        </div>
                
                        <div class="form-floating">
                            <input type="text" asp-for="SearchModel" class="form-control" name="searchModel" />
                            <label asp-for="SearchModel" class="form-label"></label>
                        </div>
                
                        <div class="form-floating">
                            <input type="text" asp-for="SearchWheelCount" class="form-control" name="searchWheelCount" />
                            <label asp-for="SearchWheelCount" class="form-label"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-dark mt-2 mb-2" value="Search"/>
                </div>
                <div class="col text-end">
                    <a href="/" class="btn btn-outline-dark mt-2 mb-2" role="button">Reset Search</a>
                </div>
            </div>
            </form>
        </div>
    </div>
    
    <div class="col-lg-8 order-lg-first">
        <div class="container bg-light rounded shadow p-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-Desc="@Html.Raw(!Model.Desc)" asp-route-Order="@Order.Type">
                                Vehicle Type @Html.Raw(Sort(Order.Type))
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-Desc="@Html.Raw(!Model.Desc)" asp-route-Order="@Order.RegistrationNumber">
                                Registration Number @Html.Raw(Sort(Order.RegistrationNumber))
                            </a>
                        </th>
                        <th>
                            Owner
                        </th>
                        <th>
                            Membership
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-Desc="@Html.Raw(!Model.Desc)" asp-route-Order="@Order.ArrivalTime">
                                Arrival Time @Html.Raw(Sort(Order.ArrivalTime))
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-Desc="@Html.Raw(!Model.Desc)" asp-route-Order="@Order.ParkedTime">
                                Parked Time @Html.Raw(Sort(Order.ParkedTime))
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.VehicleList) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegistrationNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MembershipType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArrivalTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParkedTime)
                        </td>
                        <td>
                            <a asp-action="Modify" asp-route-id="@item.Id">Modify</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Checkout" asp-route-id="@item.Id">Checkout</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>